build: false

environment:
  matrix:
    - PYTHON: "C:\\Miniconda3-x64"
      PYTHON_VERSION: "3.8.x"
      PYTHON_ARCH: "64"
      NUMPY_VERSION: "*"
      SCIPY_VERSION: "*"
      SKLEARN_VERSION: "*"

    - PYTHON: "C:\\Miniconda3-x64"
      PYTHON_VERSION: "3.9.x"
      PYTHON_ARCH: "64"
      NUMPY_VERSION: "*"
      SCIPY_VERSION: "*"
      SKLEARN_VERSION: "*"

install:
  # Prepend miniconda installed Python to the PATH of this build
  # Add Library/bin directory to fix issue
  # https://github.com/conda/conda/issues/1753
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PYTHON%\\Library\\bin;%PATH%"
  # install the dependencies
  - "conda install --yes -c conda-forge pip numpy==%NUMPY_VERSION% scipy==%SCIPY_VERSION% scikit-learn==%SKLEARN_VERSION%"
  - pip install codecov nose pytest pytest-cov
  - pip install .

test_script:
  - mkdir for_test
  - cd for_test
  - pytest -v --cov=skdag --pyargs skdag

after_test:
  - cp .coverage %APPVEYOR_BUILD_FOLDER%
  - cd %APPVEYOR_BUILD_FOLDER%
  - codecov
